body {
    font-size: 16px;
    padding: 10px 20px;
}
.server {
    font-size: 20px;
}

.btn-box {
    margin: 10px 0;
}

.list > div {
    margin-top: 10px;
}
.list > div > button {
    margin-left: 20px;
}
